<div>
  <h3 style="color: #6a1a21;text-align: center" class=" my-3">DANH SÁCH SỔ TIẾT KIỆM</h3>
  <div class="row my-3">
    <p class="col-4" style="color: blue">{{msg}}</p>
    <fieldset class="col-8">
      <form class="d-flex justify-content-center" role="search" action="/customer" method="get">
        <input hidden type="text" name="action" value="search">
        <input class="form-control me-2" type="search" name="searchName" [(ngModel)]="id"
               placeholder="Nhập mã sổ">
        <input class="form-control me-2" type="search" name="searchAddress" [(ngModel)]="tenKhach"
               placeholder="Nhập tên khách">

        <button class="btn btn-outline-info" type="submit" style="color: #1d2124">Search</button>
      </form>
    </fieldset>

  </div>
  <div class="row my-2 mx-1">
    <table class="table table-striped table-bordered border border-3 border-secondary" id="table">
      <thead class="text-center bg-info">
      <tr>
        <th>Mã số sổ</th>
        <th>Mã số Khách</th>
        <th>Tên Khách</th>
        <th>Ngày mở sổ</th>
        <th>Thời gian gửi</th>
        <th>Kỳ hạn</th>
        <th>Số tiền gửi</th>
        <th>Lãi suất</th>
        <th>Ưu đãi</th>
        <th>Cập nhật</th>
        <th>Xóa</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of (soTietKiems$ | async); index as i" >
        <td class="text-center">{{item.id}}</td>
        <td class="text-center">
          <span>{{item.idKhach}}</span>
        </td>
        <td class="view">
          <span>{{item.ten}}</span>
        </td>
        <td>{{item.ngayMoSo}}</td>
        <td>{{item.ngayGui}}</td>
        <td>{{item.kyHan}} tháng</td>
        <td>{{item.tienGui| currency}} </td>
        <td>{{item.laiSuat}}%/năm</td>
        <td>{{item.uuDai}}</td>


        <td class="text-center update">
          <a routerLink="/tietkiem/{{item.id}}">
            <button class="btn btn-primary"> Sửa</button>
          </a>
        </td>
        <td class="text-center delete">
          <a data-bs-toggle="modal" data-bs-target="#deleteItem" (click)="infoDelete(item.id, item.ten)">
            <button class="btn btn-danger">Xóa</button>
          </a>
        </td>
      </tr>


      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <nav aria-label="..." class="justify-content-center d-flex">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="previous()" *ngIf="page > 1">&laquo; Trang trước</a>
          </li>
          <li class="page-item disabled" *ngIf="page <= 1">
            <a class="page-link">&laquo;</a>
          </li>

          <li class="page-item"><a class="page-link disabled" href="" [text]="page + ' / ' + (totalPage$ | async)"></a>
          </li>

          <li class="page-item">
            <a class="page-link" (click)="next()" *ngIf="page < (totalPage$ | async)">Trang sau &raquo;</a>
          </li>
          <li class="page-item disabled" *ngIf="page >= (totalPage$ | async)">
            <a class="page-link">&raquo;</a>
          </li>
        </ul>
      </nav>

      <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getPaginate()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
        <option [ngValue]="50">50 items per page</option>
      </select>
    </div>
  </div>


</div>


<!--    modal delete-->
<div class="modal fade" id="deleteItem" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
  <div class="modal-dialog" [formGroup]="deleteForm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Bạn chắc chắn muốn xóa sổ tiết kiệm của {{ten}} ?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


        <div class="modal-body">
          <span class="h6">Mã sổ:</span>
<!--          <input style="border: none; "   readonly id="nameDelete" class="text-danger ps-2" formControlName="name">-->
          <input style="border: none; "  readonly name="id" id="idDelete" formControlName="id"/>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" value="delete" (click)="deleteSoTietKiem()">Delete</button>
        </div>

    </div>
  </div>
</div>
